<div>
    <h1>Welcome to the infamous Taco Bell Reviews!</h1>
</div>

<h2> Rate and review your favorite fourth-meal food items! </h2>

<br>


<p><%= link_to "Create an account", new_user_path %>, or <%= link_to "Log in here", login_path %> to join thousands of people committed to <i>Taco Bell Reviews</i>.</p>
